/* stylelint-disable rscss/class-format, rscss/no-descendant-combinator */

form {
  margin: 0 0 get-size(element-margin) 0;
}

.form-group {
  margin-bottom: get-size(element-margin);
}

.input-group {
  display: flex;

  .button {
    white-space: nowrap;
  }
}

.help-block {
  color: get-palette(fg-light);
  font-size: 0.95em;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0.5em;

  .has-error & {
    color: get-palette(state, error);
  }
}

label {
  display: block;
  margin: 0 0 (get-size(element-margin) * 0.25) 0;

  &[for] {
    cursor: pointer;
  }

  .has-error & {
    color: get-palette(state, error);
  }
}

[type='text'],
[type='search'],
[type='password'],
[type='email'],
[type='date'],
[type='number'],
select,
textarea {
  background-color: get-palette(bg);
  border: solid get-size(border-width) get-palette(border);
  border-radius: get-size(border-radius);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.5em;
  text-decoration: none;
  width: 100%;

  &.-alt {
    background-color: transparent;
    border-color: currentColor;

    &::placeholder {
      color: inherit;
    }
  }

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: get-palette(highlight, 1);
    box-shadow: 0 0 0 get-size(border-width) get-palette(highlight, 1);
    outline: none !important;
  }

  .has-error & {
    border-color: rgba(get-palette(state, error), 0.75);

    &:focus {
      border-color: get-palette(state, error);
      box-shadow: 0 0 0 get-size(border-width) get-palette(state, error);
    }
  }
}

[type='text'],
[type='search'],
[type='password'],
[type='email'],
[type='date'],
[type='number'],
select {
  height: get-size(element-height);
}

textarea {
  padding: 0.75em 1em;
}

::placeholder {
  color: get-palette(fg-light);
  opacity: 1;
}
