@use "sass:map";
@use "../abstracts/mixins.scss";
@use "../abstracts/functions.scss";
@use "~sass-mq/mq" as mq;
@use "../abstracts/vars";

.section-wrapper {
  @include mixins.padding(3rem, 0);

  &.-alt {
    background-color: functions.get-palette(bg-alt);
  }

  &.-slim {
    @include mq.mq($from: map.get(vars.$mq-breakpoints, md)) {
      @include mixins.padding(2rem, 0);
    }
  }

  &.-zeropadding {
    padding: 0 0 0.01rem !important; // Prevent margin collapse
  }

  // Apply a clearfix in case content inside is floated
  // For example, floated images or embeds
  > .container {
    &::before,
    &::after {
      content: ' ';
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  @include mq.mq($from: map.get(vars.$mq-breakpoints, md)) {
    @include mixins.padding(3.5rem, 0);
  }

  @include mq.mq($from: map.get(vars.$mq-breakpoints, lg)) {
    @include mixins.padding(5rem, 0);
  }

  // Create all color variations
  @each $i in map.keys(functions.get-palette(highlight)) {
    // stylelint-disable-next-line rscss/class-format
    &.-style-#{$i} {
      background-color: functions.get-palette(highlight, $i);
      color: #fff;
    }
  }
}
