/* stylelint-disable rscss/class-format, rscss/no-descendant-combinator */
@use "../abstracts/functions.scss";

form {
  margin: 0 0 functions.get-size(element-margin) 0;
}

.form-group {
  margin-bottom: functions.get-size(element-margin);
}

.input-group {
  display: flex;

  .button {
    white-space: nowrap;
  }
}

.help-block {
  color: functions.get-palette(fg-light);
  font-size: 0.95em;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0.5em;

  .has-error & {
    color: functions.get-palette(state, error);
  }
}

label {
  display: block;
  margin: 0 0 (functions.get-size(element-margin) * 0.25) 0;

  &[for] {
    cursor: pointer;
  }

  .has-error & {
    color: functions.get-palette(state, error);
  }
}

[type="text"],
[type="search"],
[type="password"],
[type="email"],
[type="date"],
[type="number"],
select,
textarea {
  background-color: functions.get-palette(bg);
  border: solid functions.get-size(border-width) functions.get-palette(border);
  border-radius: functions.get-size(border-radius);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.5em;
  text-decoration: none;
  width: 100%;

  &.-alt {
    background-color: transparent;
    border-color: currentColor;

    &::placeholder {
      color: inherit;
    }
  }

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: functions.get-palette(highlight, 1);
    box-shadow: 0 0 0 functions.get-size(border-width) functions.get-palette(highlight, 1);
    outline: none !important;
  }

  .has-error & {
    border-color: rgba(functions.get-palette(state, error), 0.75);

    &:focus {
      border-color: functions.get-palette(state, error);
      box-shadow: 0 0 0 functions.get-size(border-width) functions.get-palette(state, error);
    }
  }
}

[type="text"],
[type="search"],
[type="password"],
[type="email"],
[type="date"],
[type="number"],
select {
  height: functions.get-size(element-height);
}

textarea {
  padding: 0.75em 1em;
}

::placeholder {
  color: functions.get-palette(fg-light);
  opacity: 1;
}
